@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/opensans.woff2) format("woff2"), url(../fonts/opensans.woff) format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSansBold"), url(../fonts/opensansbold.woff2) format("woff2"), url(../fonts/opensansbold.woff) format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

/* ================================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.title--main {
  font-size: 27px;
  text-align: center;
}

.button {
  display: block;
  padding: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
}
.button--other {
  font-size: 17px;
  color: #ffffff;
  background-color: #63d1bb;
  border: 2px solid #63d1bb;
}

.header {
  position: relative;
  padding-top: 79px;
  background-color: #f1f1f1;
}

.header__container {
  padding: 0;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  min-height: 79px;
  padding: 79px 0 0;
  background-color: #ffffff;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  z-index: 1;
  width: 20px;
  height: 14px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-top: 2px solid #231f20;
}
.nav__toggle::before, .nav__toggle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #231f20;
}
.nav__toggle::before {
  top: 4px;
}
.nav__toggle::after {
  bottom: 0;
}

.nav__logo-wrapper {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
}

.nav__logo {
  display: block;
  width: 86px;
  height: 35px;
}
.nav__logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.nav__promo-text {
  display: none;
}

.nav-menu {
  display: none;
}

.nav--opened .nav-menu--main,
.nav--opened .nav-menu--user {
  display: block;
}

.nav-menu__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.nav-menu__link {
  display: block;
  padding: 30px 20px 25px 76px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.topic {
  padding: 73px 0;
  background-color: #f1f1f1;
}
.topic--home {
  padding-bottom: 0;
  background-color: #f9f9f9;
  background-image: url("../img/decor/topic-bg.jpg");
  background-repeat: no-repeat;
  background-position: top -17px center;
}

.topic__container {
  padding: 0;
}

.topic__title {
  margin: 0 30px;
}

.topic__catalog-list {
  margin-top: 120px;
}

.topic__catalog-link {
  position: relative;
  display: block;
  padding: 24px 115px 31px 30px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  background-repeat: no-repeat;
}
.topic__catalog-link--interior {
  background-color: #63d1bb;
}
.topic__catalog-link--interior::after {
  content: url("../img/decor/topic-icon-interior.svg");
  position: absolute;
  top: 50%;
  right: 36px;
  width: 40px;
  height: 62px;
  transform: translateY(-50%);
}
.topic__catalog-link--toys {
  background-color: #56c3b2;
}
.topic__catalog-link--toys::after {
  content: url("../img/decor/topic-icon-toy.svg");
  position: absolute;
  top: 50%;
  right: 27px;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
}

.promo {
  padding: 31px 0 0;
  background-image: url("../img/decor/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.promo__container {
  padding-bottom: 28px;
}

.promo__title-wrapper {
  margin-bottom: 15px;
}

.promo__title {
  margin-bottom: 4px;
}

.promo__tip {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.promo__product-card {
  margin-bottom: 28px;
}

.promo__image-wrapper {
  width: 100%;
  max-width: 350px;
  height: 315px;
  margin: 12px auto;
}
.promo__image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
}

.promo__price-wrapper {
  padding: 14px 0;
}

.promo__price {
  margin: 0 0 23px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

.product-card {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product-card__text {
  margin: 0 0 19px;
}

.product-card__list {
  margin: 0;
}

.product-card__item {
  display: grid;
  grid-template-columns: 98px 1fr;
  padding: 7px 0 9px;
  border-bottom: 1px solid #ececec;
}

.product-card__term {
  width: 93px;
}

.product-card__definition {
  margin: 0;
}

.about-us {
  padding: 31px 0 21px;
}

.about-us__title {
  margin-bottom: 29px;
}

.about-us__item {
  padding-top: 53px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-repeat: no-repeat;
}
.about-us__item:not(:last-child) {
  margin-bottom: 30px;
}
.about-us__item--eco {
  background-image: url("../img/decor/about-us-icon-eco.svg");
  background-position: top left 8px;
}
.about-us__item--price {
  background-image: url("../img/decor/about-us-icon-price.svg");
  background-position: top left;
}
.about-us__item--likes {
  background-image: url("../img/decor/about-us-icon-likes.svg");
  background-position: top 5px left 7px;
}
.about-us__item--handmade {
  background-image: url("../img/decor/about-us-icon-handmade.svg");
  background-position: top 2px left 3px;
}
.about-us__item--suply {
  background-image: url("../img/decor/about-us-icon-suply.svg");
  background-position: top 3px left -6px;
}
.about-us__item--gift {
  background-image: url("../img/decor/about-us-icon-gift.svg");
  background-position: top 1px left 3px;
}

.reviews {
  padding: 37px 0 0;
}

.reviews__container {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 51px;
  background-image: url("../img/decor/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__slider {
  margin-bottom: 27px;
}

.reviews__button {
  order: 1;
}

.reviews__slider-arrows {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 37px;
  border: 1px solid #ececec;
}
.reviews__slider-arrows::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #ececec;
  transform: translateX(-50%);
}

.reviews__slider-arrow {
  height: 52px;
  padding: 13px 38px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.reviews__slider-arrow--next {
  transform: rotate(180deg);
}

.slider__item:not(.slider__item--active) {
  display: none;
}

.slider__content {
  margin: 0;
}

.slider__text {
  margin: 0 0 34px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.slider__name {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 17px;
  font-style: normal;
  line-height: 24px;
  color: #000000;
}

.slider__nickname {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.contacts {
  padding: 38px 0 39px;
}

.contacts__container {
  padding: 0;
}

.contacts__text {
  margin-bottom: 62px;
  padding: 0 30px;
}

.contacts__title {
  margin-bottom: 28px;
}

.contacts__list {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 30px 17px;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}

.contacts__info {
  margin: 0;
}

.contacts__email {
  text-decoration: none;
  color: #444444;
  border-bottom: 1px solid #63d1bb;
}

.contacts__address {
  font-style: normal;
}

.contacts__map {
  margin-bottom: 42px;
}

.contacts__button {
  width: 260px;
  margin: 0 auto;
}

.map {
  width: 100%;
  height: 454px;
}

.map__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.catalog {
  padding: 30px 0 15px;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

.catalog-card__image-link {
  display: block;
  height: 195px;
}
.catalog-card__image-link img {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog-card__container {
  padding: 27px;
  border: 1px solid #ececec;
}

.catalog-card__description-wrapper {
  padding-bottom: 17px;
  border-bottom: 1px solid #ececec;
}

.catalog-card__title {
  display: block;
  margin-bottom: 6px;
  text-decoration: none;
  color: #000000;
}

.catalog-card__title-text {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
}

.catalog-card__description {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 22px;
}

.catalog-card__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.catalog-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 19px;
}

.video {
  padding: 15px 0 58px;
}

.video__content {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
}

.video__title {
  margin: 0;
  padding: 22px 13px 26px 91px;
  font-size: 17px;
  line-height: 24px;
  background-image: url("../img/decor/video-icon.svg");
  background-repeat: no-repeat;
  background-position: top 35px left 34px;
}

.video__description {
  order: 1;
  padding: 35px 32px 33px;
}

.video__text {
  margin: 0 0 41px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.video__image-wrapper {
  position: relative;
  height: 150px;
}

.video__image {
  display: block;
  width: 100%;
  height: 100%;
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101px;
  height: 77px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/content/icon-play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.form {
  padding: 18px 0 55px;
}

.form__tip {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.form__blank {
  padding-top: 29px;
}

.form__section {
  margin: 0;
  padding: 0;
  border: none;
}

.form__section-title {
  position: relative;
  align-items: center;
  margin: 0;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}
.form__section-title span {
  display: inline-block;
  padding-right: 23px;
  background-color: #ffffff;
}
.form__section-title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1px;
  background-color: #63d1bb;
}

.form__section--check .form__list {
  padding-top: 23px;
}

.form__list {
  padding: 30px 0 31px;
}

.form__item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 42px;
}
.form__item:not(:last-child) {
  margin-bottom: 11px;
}

.form__section--check .form__item:not(:last-child) {
  margin-bottom: 19px;
}

.form__input-control {
  position: relative;
  display: block;
  flex-shrink: 0;
  margin: 0 23px 0 0;
  background-color: transparent;
  border: 2px solid #444444;
  -webkit-appearance: none;
          appearance: none;
}

.form__input-control--radio {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.form__input-control--radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.form__input-control--radio:checked::before {
  display: block;
}

.form__input-control--check {
  width: 38px;
  height: 38px;
}
.form__input-control--check:checked {
  background-image: url("../img/decor/checkbox-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.form__input-group:not(:last-child) {
  margin-bottom: 22px;
}

.form__input {
  position: relative;
  width: 100%;
  padding: 13px 0 14px;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000;
}
.form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.form__input--message {
  display: block;
  height: 142px;
  margin: 22px 0 17px;
  padding: 17px;
  border: 2px solid #444444;
  resize: none;
}

.form__label-contacts {
  position: relative;
  display: block;
  padding: 4px 0 35px;
}

.form__button {
  width: 100%;
  font-size: 17px;
}

.form__hint {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.footer {
  padding: 28px 0 23px;
  background-color: #f1f1f1;
}

.footer__logo {
  display: none;
}

.footer__social {
  margin: 0 auto 21px;
}

.footer__copyright {
  padding-top: 22px;
  border-top: 1px solid #e5e5e5;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 27px;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 22px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.copyright__text {
  margin-right: 27px;
}

.modal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal__content {
  padding: 28px 30px 46px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  border-right: none;
  border-left: none;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.modal-container--opened {
  display: block;
}

.size__title {
  margin-bottom: 14px;
  text-align: center;
}

.size__text {
  margin-bottom: 22px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.size__list {
  display: grid;
  grid-template-columns: repeat(3, 82px);
  column-gap: 7px;
  justify-content: center;
  margin-bottom: 31px;
}

.size__item {
  position: relative;
  width: 82px;
  height: 52px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

.size__input {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin: 0 23px 0 0;
  background-color: transparent;
  border: 2px solid rgba(68, 68, 68, 0.1);
  -webkit-appearance: none;
          appearance: none;
}
.size__input::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  display: none;
  width: 82px;
  height: 52px;
  border: 2px solid #63d1bb;
}
.size__input:checked::before {
  display: block;
}

.size__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.size__button {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */