extends ../templates/_template.pug

block variables
	- pageTitle = 'Мишка: каталог'
	- activeLink = 'catalog.html'

block main
	main.main
		include ../components/III_inner/_catalog.pug
		include ../components/III_inner/_video.pug

block script
	script(src="js/script.js")
