extends ../templates/_template.pug

block variables
	- pageTitle = 'Мишка: форма'
	- activeLink = 'form.html'

block main
	main
		include ../components/III_inner/_form.pug

block script
	script(src="js/script.js")
