.catalog-card {

  transition: box-shadow ease 0.2s;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 335px;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    display: block;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($black, 0.1);
  }
}

.catalog-card__image-link {
  display: block;
  height: 195px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    height: 335px;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    height: 462px;
  }

  &:focus + .catalog-card__container {
    box-shadow: 0 6px 10px rgba($black, 0.1);

    //---------------------------------------
    @media screen and (min-width: $tab) {
      box-shadow: 6px 0 10px rgba($black, 0.1);
    }
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.catalog-card__container {
  display: flex;
  flex-direction: column;
  padding: 28px;

  border: 1px solid $light_grey;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding: 26px 32px;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    min-height: 197px;
    padding: 27px 30px 24px 28px;
  }
}

.catalog-card__description-wrapper {
  padding-bottom: 17px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    margin-bottom: auto;
    padding: 0;
  }
}

.catalog-card__title {
  display: block;
  margin-bottom: 6px;

  text-decoration: none;
  color: $black;

  transition: all ease 0.2s;

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.catalog-card__title-text {
  margin: 0;

  font-size: 17px;
  line-height: 24px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    font-size: 20px;
  }
}

.catalog-card__description {
  margin: 0;

  font-size: 13px;
  line-height: 30px;
  color: $grey_4;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    font-size: 15px;
  }
}

.catalog-card__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 22px;

  border-top: 1px solid $light_grey;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding-top: 23px;
  }
}

.catalog-card__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    font-size: 17px;
  }
}

.catalog-card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 18px;

  & svg {
    fill-opacity: 0.2;

    transition: all ease 0.2s;
  }

  &:hover svg,
  &:focus svg {
    fill: $green;
    fill-opacity: 1;
  }

  &:active svg {
    fill-opacity: 0.3;
  }
}
