// .catalog-card {}

.catalog-card__image-link {
  display: block;
  height: 195px;
}

.catalog-card__image {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog-card__container {
  padding: 27px;

  border: 1px solid $light_grey;
}

.catalog-card__description-wrapper {
  padding-bottom: 17px;

  border-bottom: 1px solid $light_grey;
}

.catalog-card__title {
  display: block;
  margin-bottom: 6px;

  text-decoration: none;
  color: $black;
}

.catalog-card__title-text {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
}

.catalog-card__description {
  margin: 0;

  font-size: 13px;
  line-height: 30px;
  color: $grey_4;
}

.catalog-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 22px;
}

.catalog-card__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.catalog-card__button {
  display: block;
  width: 20px;
  height: 19px;
}

// .catalog-card__button-icon {}
