.copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  text-decoration: none;
  color: $black;

  &:hover svg,
  &:focus svg {
    fill: $dark_green_2;
  }

  &:active svg {
    fill-opacity: 0.3;
  }

  & svg {
    transition: all ease 0.2s;

    fill: $green;
  }
}

.copyright__text {
  margin-right: 27px;
}
