.footer {
  padding: 28px 0 23px;

  background-color: $easy_grey;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding: 51px 0 58px;
  }
}

.footer__container {

  //---------------------------------------
  @media screen and (min-width: $tab) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__logo {
  display: none;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    display: block;
    width: 102px;
    height: 34px;
  }

  &:hover svg,
  &:focus svg {
    fill: $dark_green_2;
  }

  &:active svg {
    fill-opacity: 0.3;
  }

  & svg {
    transition: all ease 0.2s;
  }
}

.footer__social {
  padding-bottom: 30px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding: 0;
  }
}

.footer__copyright {
  padding-top: 22px;

  border-top: 1px solid $light_grey_2;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding: 0;

    border: none;
  }
}
