.form {
  padding: 17px 0 55px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding: 54px 0 50px;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    padding: 97px 0 50px;
  }
}

.form__tip {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  color: $grey_4;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__blank {
  padding-top: 29px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding-top: 13px;
  }
}

.form__section {
  margin: 0;
  padding: 0;

  border: none;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding: 50px 0;
  }

  //   &--radio {}


  &--check {

    //---------------------------------------
    @media screen and (min-width: $tab) {
      background-color: $easy_grey;
    }
  }

  //   &--name-info {}

  &--contact-info {

    //---------------------------------------
    @media screen and (min-width: $tab) {
      background-color: $easy_grey;
    }
  }

  //   &--message {}

  &--submit {

    //---------------------------------------
    @media screen and (min-width: $tab) {
      padding: 3px 0 0;
    }
  }
}

.form__container {

  //---------------------------------------
  @media screen and (min-width: $tab) {
    display: flex;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    padding-right: 225px;
  }
}

.form__section--check .form__container {

  //---------------------------------------
  @media screen and (min-width: $desk) {
    padding-right: 50px;
  }
}

.form__section--contact-info .form__container:not(:last-child) {

  //---------------------------------------
  @media screen and (min-width: $tab) {
    margin-bottom: 24px;
  }
}

.form__section-title {
  position: relative;

  align-items: center;
  margin: 0;

  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $green;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    width: 167px;
    margin-top: 17px;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    width: 175px;
    padding-left: 47px;
  }

  & span {
    display: inline-block;
    padding-right: 23px;

    background-color: $white;

    //---------------------------------------
    @media screen and (min-width: $tab) {
      padding: 0;

      background-color: transparent;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 1px;

    background-color: $green;

    //---------------------------------------
    @media screen and (min-width: $tab) {
      content: none;
    }
  }
}

.form__list {
  padding: 30px 0 31px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    flex-grow: 1;
    padding: 0;
  }
}

.form__section--check .form__list {
  padding: 25px 0 33px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    display: grid;
    grid-template-columns: repeat(2, 239px);
    gap: 23px;
    padding: 0;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    grid-template-columns: repeat(3, 239px);
  }
}

.form__section--name-info .form__list {
  padding: 29px 0 35px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding: 0;
  }
}

.form__item {
  display: flex;
  align-items: center;
  width: fit-content;

  &:not(:last-child) {
    margin-bottom: 11px;

    //---------------------------------------
    @media screen and (min-width: $tab) {
      margin-bottom: 24px;
    }
  }
}

.form__section--check .form__item:not(:last-child) {
  margin-bottom: 23px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    margin: 0;
  }
}

.form__input-control {
  position: relative;

  display: block;
  flex-shrink: 0;
  margin: 0 23px 0 0;

  background-color: transparent;
  border: 2px solid $grey_4;

  appearance: none;
}

.form__input-control--radio {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    width: 52px;
    height: 52px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    width: 16px;
    height: 16px;

    background-color: $other_green;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &:checked::before {
    display: block;
  }
}

.form__input-control--check {
  width: 38px;
  height: 38px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    width: 52px;
    height: 52px;
  }

  &:checked {
    background-image: url("../img/decor/checkbox-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  //   &--check {}
}

.form__input-group .form__label {
  margin-right: 24px;
}

.form__input-group {

  //---------------------------------------
  @media screen and (min-width: $tab) {
    display: flex;
    align-items: center;
  }

  &:not(:last-child) {
    margin-bottom: 22px;

    //---------------------------------------
    @media screen and (min-width: $tab) {
      margin-bottom: 24px;
    }
  }
}

.form__input {
  position: relative;

  width: 100%;
  padding: 17px 0 15px;

  font-size: 17px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 18px;
  color: $grey_4;

  border: none;
  border-bottom: 2px solid $black;

  &::placeholder {
    color: rgba($black, 0.3);

    opacity: 1;
  }

  &--message {
    display: block;
    height: 142px;
    margin: 22px 0 17px;
    padding: 17px;

    border: 2px solid $grey_4;

    resize: none;

    //---------------------------------------
    @media screen and (min-width: $tab) {
      flex-grow: 1;
      width: auto;
      margin: 0;
    }
  }
}

.form__label-contacts .form__input {

  //---------------------------------------
  @media screen and (min-width: $tab) {
    background-color: transparent;
  }
}

.form__label-contacts {
  position: relative;

  display: block;
  padding: 4px 0 35px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    flex-grow: 1;
    padding: 0;
  }

  //  &--phone {}

  //   &--email {}
}

.form__button {
  width: 100%;

  font-size: 17px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    width: 230px;
    margin: 0 auto 0 0;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    margin: 0 auto 0 175px;
  }
}

.form__hint {
  margin: 0 0 30px;

  font-size: 14px;
  line-height: 16px;
  color: $grey_4;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    align-self: center;
    order: 2;
    margin: 0;

    font-size: 17px;
    line-height: 30px;
  }
}
