.map {
  position: relative;
  height: 454px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    height: 457px;
  }
}

.map__link {
  display: none;
  width: 100%;
  height: 100%;

  & img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.no-js .map__link {
  display: block;
}

.map__api {
  display: block;
  width: 100%;
  height: 100%;
}

.no-js .map__api {
  display: none;
}
