.map {
  overflow-x: hidden;
}

.map__link {
  position: absolute;

  display: block;
  height: 454px;
}

.map__api {
  width: 100%;
  height: 454px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    height: 457px;
  }
}
