.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  height: 79px;

  background-color: $white;
  box-shadow: 0 1px 0 $light_grey, inset 0 1px 0 $light_grey;
}

.nav__toggle {
  position: absolute;
  top: 38px;
  right: 31px;
  z-index: 1;

  width: 20px;
  height: 2px;

  background-color: $dark_grey;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: $dark_grey;
  }

  &::before {
    top: -6px;
  }

  &::after {
    top: 6px;
  }
}

.nav__logo-wrapper {
  position: absolute;
  top: 22px;
  left: 50%;

  transform: translateX(-50%);
}

.nav__logo {
  display: block;
  width: 86px;
  height: 35px;
}

// .nav__logo-mobile {}

.nav__logo-tablet {
  display: none;
}

.nav__logo-desktop {
  display: none;
}


.nav__promo-text {
  display: none;
}
