.reviews {
  padding: 37px 0 51px;
}

.reviews__container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 30px;

  background-image: url("../img/decor/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__slider {
  margin-bottom: 32px;
}

.reviews__button {
  order: 1;
}

.reviews__slider-arrows {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 38px;

  border: 1px solid $light_grey;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 1px;
    height: 100%;

    background-color: $light_grey;
    transform: translateX(-50%);
  }
}

.reviews__slider-arrow {
  height: 52px;
  padding: 13px 38px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  // &--prev {}

  &--next {
    transform: rotate(180deg);
  }
}
