// .slider {}

.slider__item {
  &:not(.slider__item--active) {
    display: none;
  }
}

.slider__content {
  margin: 0;
}

.slider__text {
  margin: 0 0 34px;

  font-size: 15px;
  line-height: 30px;
  color: $grey_4;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    margin: 0 0 61px;

    font-size: 17px;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    margin: 0 0 44px;
  }
}

// .slider__author{}

.slider__name {
  display: block;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 17px;
  font-style: normal;
  line-height: 24px;
  color: $black;
}

.slider__nickname {
  font-size: 17px;
  line-height: 30px;
  color: $grey_4;
}
