.topic {
  position: relative;

  padding: 73px 0;

  background-color: $easy_grey;
  border-top: 1px solid $light_grey;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding: 36px 0 87px;

    border: none;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    padding: 36px 0 114px;
  }

  &--home {
    padding-bottom: 0;

    background-color: $easy_grey_2;
    background-image: url("../img/decor/topic-bg-mob.jpg");
    background-repeat: no-repeat;
    background-position: top -17px center;

    //---------------------------------------
    @media screen and (min-width: $tab) {
      padding-top: 155px;

      background-image: url("../img/decor/topic-bg-tab.jpg");
      background-position: top center;
    }

    //---------------------------------------
    @media screen and (min-width: $desk) {
      padding-top: 158px;
    }
  }
}

.topic__container {
  padding: 0;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding: 0 50px;
  }
}

.topic__title {
  margin: 0 30px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    margin: 0 50px;
  }
}

.topic__catalog-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 206px;
  margin-top: 120px;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    flex-direction: row;
    align-items: flex-end;
    height: 131px;
    margin-top: 372px;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    height: 136px;
    margin-top: 355px;
  }
}

.topic__catalog-item {
  flex-grow: 1;
}

.topic__catalog-link {
  position: relative;

  display: block;
  padding: 24px 115px 31px 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: $white;

  cursor: pointer;

  transition: all ease 0.2s;

  //---------------------------------------
  @media screen and (min-width: $tab) {
    padding: 25px 115px 46px 36px;

    font-size: 20px;
    line-height: 30px;
  }

  //---------------------------------------
  @media screen and (min-width: $desk) {
    padding: 25px 115px 51px 36px;
  }

  &:hover,
  &:focus,
  &:active {
    padding: 24px 115px 36px 30px;

    //---------------------------------------
    @media screen and (min-width: $tab) {
      padding: 25px 115px 51px 36px;
    }

    //---------------------------------------
    @media screen and (min-width: $desk) {
      padding: 25px 115px 56px 36px;
    }
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.7;
  }

  &:active svg {
    opacity: 0.3;
  }

  & span {
    display: block;
    width: 150px;
  }

  &--interior {
    background-color: $green;
  }

  &--toys {
    background-color: $dark_green;
  }

  &--interior svg,
  &--toys svg {
    position: absolute;

    opacity: 0.5;

    transition: all ease 0.2s;
  }

  &--interior svg {
    top: 23px;
    right: 36px;

    width: 40px;
    height: 62px;

    //---------------------------------------
    @media screen and (min-width: $tab) {
      top: 30px;
    }
  }

  &--toys svg {
    top: 21px;
    right: 27px;

    width: 60px;
    height: 60px;

    //---------------------------------------
    @media screen and (min-width: $tab) {
      top: 31px;
      right: 34px;
    }
  }
}
