include ../utils/_variables.pug
include ../utils/_mixins.pug

block variables

doctype html
html(lang=lang)
	head
		block head
			include ../components/_head/_head.pug
	body.no-js
		block header
			include ../components/I_header/_header.pug
			|
			|
		block main
		|
		|
		block footer
			include ../components/IV_footer/_footer.pug
		|
		|
		block modals
			include ../components/V_modals/_modal.pug
		|
		|
		block script
			script(defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
			script(defer src="js/map.js")
			script(src="js/script.js")
