.nav-menu {
  position: absolute;
  right: 0;
  left: 0;

  display: none;

  background-color: $white;

  &--main {
    top: 79px;
  }

  &--user {
    top: 235px;
  }
}

.nav--opened .nav-menu--main,
.nav--opened .nav-menu--user {
  display: block;
}

.nav-menu__item {
  box-shadow: 0 1px 0 $light_grey, inset 0 1px 0 $light_grey;
}

.nav-menu__link {
  display: block;
  padding: 27px 20px 27px 76px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: $black;
  //   &--icon {}

  //   &--search {}

  //   &--cart {}

  //   &--current {}
}
