//- media vars
- let dsk_min = "1025px";
- let tab_min = "660px";
//- head vars
- let lang = "ru";
- let pageTitle = "Заголовок страницы";
- let author = "Arty Violet";
- let description = "Магазин детских игрушек ручной работы - Мишка";
- let keywords = "";
- let jscssVersion = "?230323";
//- header vars
- let idAnchor = null;
- let indexLogo = null;
- let indexLink = "index.html";
- let tabindex = "-1";
- let innerPage = "--inner";
- let breadcrumbs = "";
	//- nav-menu vars
- let activeLink = null;
	//- footer vars
- let classMod = null;
	//- media vars
- let mob = 320 + "px";
- let tab = 768 + "px";
- let desk = 1150 + "px";
