*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-width: $mob;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: $black;

  background-color: $white;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

/* ================================== */
