//***********************MEDIA SIZES***********************//

$mob: 320px;
$tab: 768px;
$desc: 1150px;

//**************************COLORS**************************//

$black: #000000;
$grey_4: #444444;
$white: #ffffff;
$green: #63D1BB;
