//***********************MEDIA SIZES***********************//

$mob: 320px;
$tab: 768px;
$desc: 1150px;

//**************************COLORS**************************//

$black: #000000;
$dark_grey: #231f20;
$light_grey: #ececec;
$grey_4: #444444;
$white: #ffffff;
$green: #63d1bb;
