section.catalog
	.catalog__container.container
		ul.catalog__list.list-reset
			li.catalog__item.catalog-card
				a.catalog-card__image-link(href="#")
					img(src="img/content/catalog-card-1.jpg" width="260" height="195" alt="Зайчик-попрыгайчик.")
				.catalog-card__container
					.catalog-card__description-wrapper
						a.catalog-card__title(href="#")
							h2.catalog-card__title-text Зайчик-попрыгайчик
						p.catalog-card__description Рост 30 см, вес 200 г
					.catalog-card__price-wrapper
						span.catalog-card__price 1&nbsp;200 руб.
						a.catalog-card__button.button-order(href="#")
							img(src="img/content/icon-cart.svg" width="20" height="19" alt="Иконка корзины")
							span.visually-hidden Положить в корзину

			li.catalog__item.catalog-card
				a.catalog-card__image-link(href="#")
					img(src="img/content/catalog-card-2.jpg" width="260" height="195" alt="Корзинка для белья.")
				.catalog-card__container
					.catalog-card__description-wrapper
						a.catalog-card__title(href="#")
							h2.catalog-card__title-text Корзинка для белья
						p.catalog-card__description Диаметр 15 см, высота 10 см
					.catalog-card__price-wrapper
						span.catalog-card__price 690 руб.
						a.catalog-card__button.button-order(href="#")
							img(src="img/content/icon-cart.svg" width="20" height="19" alt="Иконка корзины")
							span.visually-hidden Положить в корзину

			li.catalog__item.catalog-card
				a.catalog-card__image-link(href="#")
					img(src="img/content/catalog-card-3.jpg" width="260" height="195" alt="Большая корзинка для игрушек.")
				.catalog-card__container
					.catalog-card__description-wrapper
						a.catalog-card__title(href="#")
							h2.catalog-card__title-text Большая корзинка для&nbsp;игрушек
						p.catalog-card__description Диаметр 30 см, высота 30 см
					.catalog-card__price-wrapper
						span.catalog-card__price 1500 руб.
						a.catalog-card__button.button-order(href="#")
							img(src="img/content/icon-cart.svg" width="20" height="19" alt="Иконка корзины")
							span.visually-hidden Положить в корзину
