section.video
	.video__container.container
		h2.video__title Процесс производства
		.video__description
			p.video__text По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
			a.video__button.button(href="#") Сделать заказ

		.video__image-wrapper
			img.video__image(src="img/content/video-mobile.jpg" width="260" height="150" alt="Большая корзинка для игрушек.")
			button.video__play-button(type="button")
				img(src="img/content/icon-play.svg" width="100" height="77" alt="Кнопка запуска видео.")
				span.visually-hidden Play
