section.video
	.video__container.container
		.video__content
			h2.video__title Процесс производства
			.video__description
				p.video__text По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
				a.video__button.button(href="form.html") Сделать заказ

			.video__image-wrapper
				+picture2x('', 3, 'jpg', tab, desk, 'content/',
					'video-desk',
					'video-tab',
					'video-mob', 260, 150,
          'lazy',
					'Большая корзинка для игрушек.')
				button.video__play-button(type="button")
					span.visually-hidden Play
