section.about-us
	.about-us__container.container
		h2.about-us__title.title Коротко о нас:

		ul.about-us__list.list-reset
			li.about-us__item.about-us__item--eco Экологически чистые&nbsp;материалы
			li.about-us__item.about-us__item--price Скандинавский стиль по&nbsp;российской цене
			li.about-us__item.about-us__item--likes Увеличивает лайки на&nbsp;фотографиях
			li.about-us__item.about-us__item--handmade Связано вручную<br>с&nbsp;любовью и&nbsp;умилением
			li.about-us__item.about-us__item--suply Поддержка отечественного производителя
			li.about-us__item.about-us__item--gift Поставляется в&nbsp;подарочной&nbsp;упаковке
