section.contacts
	.contacts__container.container
		.contacts__text
			h2.contacts__title.title Контакты

			dl.contacts__list
				dt.contacts__heading e-mail:
				dd.contacts__info
					a.contacts__email(href="mailto:info@mimimishkashop.ru") info@mimimishkashop.ru

				dt.contacts__heading адрес:
				dd.contacts__info
					address.contacts__address г. Санкт-Петербург ул.&nbsp;Большая&nbsp;Конюшенная д.&nbsp;19/8, офис&nbsp;101

		.contacts__map.map
			a.map__link(href="#")
				+picture2x('', 2, 'jpg', tab, null, 'content/',
					null,
					'map-tab',
					'map-mob', 320, 454,
          'lazy',
					'Метка магазина Мишка указанная на карте.')
			.map__api#map

		a.contacts__button.button(href="#") Напишите нам
