section.promo
	.promo__container.container
		.promo__title-wrapper
			h2.promo__title.title Вязаные корзинки
			span.promo__tip Товар недели

		.promo__product-card.product-card
			p.product-card__text Экологически чистая пряжа, ручная работа. Доступны в шести расцветках и трёх размерах.

			dl.product-card__list
				.product-card__item
					dt.product-card__term Цвет:
					dd.product-card__definition тиффани/серый
				.product-card__item
					dt.product-card__term Диаметр:
					dd.product-card__definition 25 см
				.product-card__item
					dt.product-card__term Высота:
					dd.product-card__definition 15 см

		.promo__image-wrapper
			+picture2x('', 3, 'jpg', tab, desk, 'content/',
				'promo-img-desk',
				'promo-img-tab',
				'promo-img-mob', 260, 315,
        'lazy',
				'Вязаные корзинки.')

		.promo__price-wrapper
			p.promo__price Цена: 990 руб.
			a.promo__button.button.button-order(href="#") Заказать
