<!-- класс modal-container--open открывает модальное окно -->
.modal-container
	.modal
		section.modal__content
			h2.modal__title.title Добавить в корзину
			span.modal__tip Выберите размер:
			form.modal__form(action="https://echo.htmlacademy.ru" method="post")
				ul.modal__list.list-reset
					li.modal__item
						input.modal__input-control(type="radio" id="s-size" name="size" value="s-size" checked)
						label.modal__label(for="s-size") S
							span.visually-hidden Размер S

					li.modal__item
						input.modal__input-control(type="radio" id="m-size" name="size" value="m-size")
						label.modal__label(for="m-size") M
							span.visually-hidden Размер M

					li.modal__item
						input.modal__input-control(type="radio" id="l-size" name="size" value="l-size")
						label.modal__label(for="l-size") L
							span.visually-hidden Размер L

				button.modal__button.button.button--other(type="submit") Добавить
