<!-- класс modal-container--opened открывает модальное окно -->
.modal-container
	.modal
		section.modal__content.size
			h2.size__title.title Добавить в корзину
			p.size__text Выберите размер:
			form.size__form(action="https://echo.htmlacademy.ru" method="post")
				ul.size__list.list-reset
					li.size__item
						input.size__input(type="radio" id="s-size" name="size" value="s-size" checked)
						label.size__label(for="s-size") S

					li.size__item
						input.size__input(type="radio" id="m-size" name="size" value="m-size")
						label.size__label(for="m-size") M

					li.size__item
						input.size__input(type="radio" id="l-size" name="size" value="l-size")
						label.size__label(for="l-size") L

				button.size__button.button.button--other(type="submit") Добавить
