// .slider {}

.slider__item {
  &:not(.slider__item--active) {
    display: none;
  }
}

.slider__content {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

.slider__text {
  margin: 0 0 32px;

  font-size: 15px;
  line-height: 30px;
  color: $grey_4;
}

.slider__author {
  margin-bottom: 5px;

  font-size: 17px;
  font-style: normal;
  line-height: 25px;
  color: $black;
}

.slider__nickname {
  font-size: 17px;
  line-height: 25px;
  color: $grey_4;
}
