header.header(class={'header--inner' : activeLink !== 'index.html'})
	nav.header__nav.nav.container
		.nav__logo-wrapper
			if (activeLink === 'index.html')
				a.nav__logo(href="index.html" aria-current="page")
					+picture('', 3, 'svg', tab, desk, 'content/',
						'logo-desktop',
						'logo-tablet',
						'logo-mobile', 86, 35,
						'eager',
						'Mishka.')
			else
				a.nav__logo(href="index.html")
					+picture('', 3, 'svg', tab, desk, 'content/',
					'logo-desktop',
					'logo-tablet',
					'logo-mobile', 86, 35,
					'eager',
					'Mishka.')

		button.nav__toggle(type="button")
			span.visually-hidden Открыть меню.

		ul.nav__list.nav__list--main.list-reset
			if (activeLink === 'index.html')
				li.nav__item
					a.nav__link(
						class={'nav__link--current' : activeLink === 'catalog.html'} href="catalog.html") Каталог товаров
				li.nav__item
					a.nav__link(class={'nav__link--current' : activeLink === 'form.html'} href="form.html") Вязание на заказ

			else if (activeLink === 'catalog.html')
				li.nav__item
					a.nav__link(
						class={'nav__link--current' : activeLink === 'catalog.html'} href="catalog.html" aria-current="page") Каталог товаров

				li.nav__item
					a.nav__link(class={'nav__link--current' : activeLink === 'form.html'} href="form.html") Вязание на заказ

			else if (activeLink === 'form.html')
				li.nav__item
					a.nav__link(
						class={'nav__link--current' : activeLink === 'catalog.html'} href="catalog.html") Каталог товаров
				li.nav__item
					a.nav__link(class={'nav__link--current' : activeLink === 'form.html'} href="form.html" aria-current="page") Вязание на заказ

		ul.nav__list.nav__list--user.list-reset
			li.nav__item
				a.nav__link.nav__link--icon.nav__link--search(href="#")
					+icon('search', 18, 18, 'Иконка поиска.')
					span Поиск по сайту
			li.nav__item
				a.nav__link.nav__link--icon.nav__link--cart(href="#")
					+icon('cart', 21, 18, 'Иконка корзины.')
					span Корзина: пока пуста

		ul.nav__list.nav__list--promo.list-reset
			li.nav__item
				a.nav__link(href="#") Новые поступления
			li.nav__item
				a.nav__link(href="#") Распродажа

		p.nav__promo-text Бесплатная доставка по России

	if (activeLink === 'index.html')
		section.topic.topic--home
			.topic__container.container
				h1.visually-hidden Магазин вязаных изделий Mishka
				h2.topic__title.title.title--main Милые штуки ручной работы&nbsp;для&nbsp;дома
				ul.topic__catalog-list.list-reset
					li.topic__catalog-item
						a.topic__catalog-link.topic__catalog-link--interior(href="#")
							span Предметы интерьера
							+icon('interior', 40, 62, 'Иконка настольной лампы.')
					li.topic__catalog-item
						a.topic__catalog-link.topic__catalog-link--toys(href="#")
							span Детские игрушки
							+icon('toy', 60, 60, 'Иконка кубика лего.')

	else if (activeLink === 'catalog.html')
		section.topic
			.topic__container.container
				h1.topic__title.title.title--main Каталог товаров
	else if (activeLink === 'form.html')
		section.topic
			.topic__container.container
				h1.topic__title.title.title--main Вязание на заказ
