footer.footer
	.footer__container.container
		if (activeLink === 'index.html')
			a.footer__logo(href="index.html" aria-current="page")
				+icon('footer-logo', 102, 34, 'Mishka.')

		else
			a.footer__logo(href="index.html")
				+icon('footer-logo', 102, 34, 'Mishka.')

		ul.footer__social.social.list-reset
			li.social__item
				a.social__link(href="https://vk.com/htmlacademy" target="_blank")
					span.visually-hidden Мы в Контакте.
					+icon('vk', 28, 23, 'Иконка вКонтакте.')

			li.social__item
				a.social__link(href="https://www.youtube.com/@HTMLAcademyRUS" target="_blank")
					span.visually-hidden Мы на YouTube.
					+icon('youtube', 24, 20, 'Иконка YouTube.')

			li.social__item
				a.social__link(href="https://t.me/htmlacademy" target="_blank")
					span.visually-hidden Мы в Телеграм.
					+icon('telegram', 20, 18, 'Иконка Телеграм.')

		a.footer__copyright.copyright(href="https://htmlacademy.ru/intensive/adaptive" target="_blank" aria-label="Html Academy")
			span.copyright__text Разработано
			+icon('htmlacademy', 27, 35, 'Логотип htmlacademy.')
