.button {
  display: block;
  padding: 14px;

  font-weight: 700;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $grey_4;

  background-color: $white;
  border: 2px solid $grey_4;
  cursor: pointer;

  transition: all linear 0.2s;

  &:hover,
  &:focus {
    color: $white;

    background-color: $grey_4;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &--other {
    font-size: 17px;
    color: $white;

    background-color: $green;
    border: 2px solid $green;
  }

  &--other:hover,
  &--other:focus {
    background-color: $dark_green_2;
    border: 2px solid $dark_green_2;
  }

  &--other:active {
    opacity: 0.6;
  }
}

// .button-order {}
