//***********************MEDIA SIZES***********************//

$mob: 320px;
$tab: 768px;
$desk: 1150px;

//**************************COLORS**************************//

$black: #000000;
$dark_grey: #231f20;
$light_grey: #ececec;
$light_grey_2: #e5e5e5;
$easy_grey: #f1f1f1;
$easy_grey_2: #f9f9f9;
$grey_4: #444444;
$white: #ffffff;
$green: #63d1bb;
$dark_green: #56c3b2;
$dark_green_2: #46c1ae;
